
# CABAL Files

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
cabal-dev/
Cabal/dist/
Cabal/tests/Setup
cabal-install/dist/
cabal-install/tests/PackageTests/*/dist/
.hpc/
*.hi
*.o
*.p_hi
*.prof
*.tix
dist-sandbox
dist

# TAGS files
TAGS
tags

# emacs temp files
.\#*
*~
\#*\#